<!DOCTYPE html>
<head>

	<link rel='stylesheet' href='bootstrap/css/bootstrap.min.css'>
	<title>Hawk's Nest Kart</title>
</head>
<body>
	<!-- Libraries !-->
	<script src='jquery-1.10.2.min.js'
	<script src='bootstrap/js/bootstrap.min.js' type='text/javascript'></script>
	
	<div class="container">
	<h1><a href="#">Hawk's Nest Kart</a></h1>
		<div class ="navbar">
			<div class="navbar-inner">
				<div class="container">
					<ul class ='nav'>
						<li class="active"><a href="#">Main</a></li>
						<li><a href="#">Rankings</a></li>
						<li><a href="#">Laws of Hawk's Nest</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span2"></div>
		<div class="span10">
			<h1>Test</h1>
			<p>This is a test.</p>
		</div>
	</div>
	</body>
